<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Os_Customer::answer" title="Tickets" module="Os_Customer" sortOrder="51" resource="Os_Customer::answer"/>
        <add id="Os_Customer::index_answer" title="Tickets" module="Os_Customer" sortOrder="10" action="os_customer/answer" resource="Os_Customer::answer" parent="Os_Customer::answer"/>
        <!--<add id="Os_Customer::hello_configuration" title="Configuration" module="Os_Customer" sortOrder="99" parent="Os_Customer::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Os_Customer::helloworld_configuration"/>-->
    </menu>
</config>